body
{
 border: 10px white dotted;
 background: rgb(242,212,8);
 background: linear-gradient(90deg, rgba(242,212,8,1) 0%, rgba(198,116,84,1) 48%, rgba(255,0,0,1) 100%);
}

.btn-success:hover{
    background-color: red;
}
.btn-info:hover{
    background-color: pink;
}
canvas{
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example
{
 from{
     box-shadow: 1px 1px 38px yellow;
 }
 to{
     box-shadow: 1px 1px 38px red;
 }
}
